database-wiki/data/CIAWFB/CIAWFB.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT CIAWFB (COUNTRY*)>
<!ELEMENT COUNTRY (NAME, QUALIFIER?, CATEGORY*)>
<!ELEMENT NAME ANY>
<!ELEMENT QUALIFIER ANY>
<!ELEMENT CATEGORY (NAME, TEXT?, PROPERTY*)>
<!ELEMENT PROPERTY (NAME, NOTE*, (TEXT, RANK?)*, (SUBPROP | NOTE)*)>
<!ELEMENT SUBPROP (NAME, TEXT, RANK?)>
<!ELEMENT RANK ANY>
<!ELEMENT TEXT ANY>
<!ELEMENT NOTE ANY>
